{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<div class="wrapper">
		<header>
			<div class="logo">
				<a href="{{path('app_main')}}">Undefined</a>
			</div>
			<nav>
				<ul>
					<a href="{{path('app_main')}}">Home</a>
					<a href="{{path('app_app')}}">Todo</a>
					<a href="{{path('app_help')}}">About us</a>

				</ul>
			</nav>
		</header>
		<main>
			<div class="todo">
				<div class="header">
					<h2>TODO</h2>
					<form action="{{path('create_task')}}" method="post">
						<input name="title" type="text" id="myInput" placeholder="Task title..."/>
						<button type="submit" class="addBtn">Add a task</button>
					</form>
				</div>
				<ul>
					{% for task in tasks %}
						<li {% if task.status %} class="checked" {% endif %}>
							<a href="{{path('update_task', {'id': task.id})}}">
								<span class="task-list-item tasktodo">{{task.title}}
								</span>
							</a>
							<a onclick="return confirm('Are you sure to delete?')" href="{{path('delete_task', {'id': task.id})}}">
								<span class="close">X</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</main>
		<footer>
			<small>
				© React23K Undefined team</small>
		</footer>

	</div>
{% endblock %}
